.CartaProducto {
  box-sizing: border-box;
  width: 260px;
  min-height: 320px;
  overflow: hidden;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  flex-direction: column;
  padding: 14px;
  margin: 10px;
}

.CartaProducto:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.CartaProducto:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.CartaProducto__Imagen {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.8rem;
  background-color: #f1d9dc;
}

.CartaProducto__Nombre {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 0.4rem;
}

.CartaProducto__Precio {
  font-size: 1.1rem;
  color: #d90429;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.CartaProducto__Link {
  text-decoration: none;
}
